.like-icon {
  width: 39px;
  height: 36px;
}

.heart {
  transition: transform 0.3s ease-in-out;
}

.contour {
  transition: fill 0.3s linear;
}

.main-body {
  transition: fill 0.3s ease-in-out;
}

.core {
  transition: fill 0.3s ease-in-out;
}

.sparks {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s ease-in-out;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s ease-in-out 0.05s;
}

.like-icon:not(:hover) .core {
  fill: transparent;
  transition: fill 0.3s ease-in-out 0.03s;
}

.like-icon:not(:hover) .main-body {
  fill: transparent;
  transition: fill 0.3s ease-in-out;
}

.like-icon:active .core {
  fill: var(--fill-color);
  transition: fill 0.3s ease-in-out;
}

.like-icon:active .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s ease-in-out 0.05s;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s ease-in-out;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s ease-in-out 0.06s;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heartScale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparksAnimation 0.3s ease-in 0.3s;
}

@keyframes heartScale {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes sparksAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}