:root {
  --font-inter-variable: 'Inter-Variable', sans-serif;
  --font-pressstart2p-regular: 'PressStart2P-Regular', sans-serif;
  --page-width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --font-weight-card-title: 700;
  --font-weight-card-text: 400;
  --label-stroke-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --fill-color: #f00;
  --background-color: #fff;
  --border: 2px solid #000;
  --background-image:
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}